@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');


*{
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
.edu{
  background: #D8DADD;
}

.texto{
  font-family: 'Rubik Dirt', cursive;
  color: white;
  text-shadow: 5px 3px 4px #2d78e8;
  text-transform:uppercase;
}

ul li{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  list-style:none;
}
