@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');


*{
  margin: 0;
  padding: 0;
}

.exp{
  background:linear-gradient(to left,#151515,rgba(185, 185, 185, 0.8));
}

ul li{
  list-style: none;
}


.texto{
  font-family: 'Rubik Dirt',italic ;
  text-transform: uppercase;
  color:white;
  text-shadow: 2px 4px 5px blueviolet;
}
.letra{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  color: white;
}

@media (min-width:992px){
    .texto{
      text-align: center;
    }
    .letra{
      text-align: center;
    }
}
