<!-- Seccion experiencias -->


<div class="container-fluid exp">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-6 col-sm-4 text-end">
          <p class="display-6 texto">Experiencias</p>
      </div>

      <div class="row">
          <section class="col-xl-12 col-lg-12 col-md-6 col-sm-4">

            <ul class="letra">
            <li class="h3">-Texto de referencia para modelar la pagina1</li>
            <li class="h3">-Texto de referencia para modelar la pagina2</li>
            <li class="h3">-Texto de referencia para modelar la pagina3</li>
            </ul>

          </section>
    </div>
</div>
