<div class="container-fluid experiencias">
  <p>{{Nombre}}</p>
  <p style="font-size: 27px;margin-top:-18px;margin-left: 310px;">{{Titulo}}</p>
  <p style="font-size: 25px;margin-top:-18px;margin-left:320px;">Acerca De Mi</p>
  <p class="letra" style="font-size: 18px;text-align: center;color: black;"> Tengo 24 años actualmente a la par que hago el curso de Argentina Programa
  sigo instruyendome en el area Desarrollo Web, prefiero mas el lado back-end que el front-end,Amo la informática(seguramente siga estudiando mas cosas relacionadas)
  considero que tengo buenas habilidades interpersonales, Me gusta trabajar en equipo, Siempre busco la mejor version mia,No tengo miedo de proponer ideas para mejorar el proyecto</p>
  </div>

