@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
}


.acercade{
  min-height: 560px;
  background:linear-gradient(to left,#151515,rgba(185, 185, 185, 0.8));
}

p{
  font-family: 'alumni sans pinstripe';
  color: greenyellow;
}

.letra{
  font-family: 'Rubik dirt';
  color:black;
  font-weight: bolder;
  text-shadow: 4px 3px 4px greenyellow;
  text-transform: uppercase;
}

