*{
  margin: 0;
  padding: 0;
}
.banner{
  min-height: 600PX;
  background: url(../../../assets/banner.jpg);
  background-size: cover;
}
.img{
  background: url(../../../assets/foto.jpg);
  margin-top: 500px;
  background-size: cover;
  height: 265px;
  width: 280px;
  border-radius: 50%;

  }
