*{
  margin: 0;
  padding: 0;
}
.banner{
  height: 600px;
  width: 100%;
  background: url(../../../assets/banner.jpg);
  background-size: cover;
}
.img{
  background: url(../../../assets/foto.jpg);
  margin-top: 390px;
  margin-left: -13px;
  background-position: center;
  background-size: cover;
  height: 265px;
  width: 280px;
  border-radius: 50%;

  }
