@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik Dirt', cursive;
}

.ski{
  min-height: 200px;
  background:#d8dadd;
}

.texto{
  font-size: 32px;
  font-weight: bolder;
  text-shadow: 6px 2px 2px rgb(95, 252, 166);
  text-transform: uppercase;
}

h3{
  color: #1C60DE;
  text-shadow: 4px 4px 3px white;
}
