<div class="container-fluid text-center ski">
  <h3 class="display-5">{{title}}</h3>
  <div class="row justify-content-between">
       <div class="col-lg-12 col-md-4 col-sm-2">

          <circle-progress
            [percent]="80"
            [radius]="100"
            [subtitle]="'Javascript'"
            [subtitleFontSize]="'18'"
            [subtitleColor]="'#1C60DE'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#444644'"
            [innerStrokeColor]="'#56fd2d'"
            [animation]="true"
            [animationDuration]="400"
          ></circle-progress>
          <circle-progress
          [percent]="80"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [subtitle]="'Css'"
          [subtitleFontSize]="'18'"
          [subtitleColor]="'#1C60DE'"
          [outerStrokeColor]="'#444644'"
          [innerStrokeColor]="'#56fd2d'"
          [animation]="true"
          [animationDuration]="400">

          </circle-progress>


          <circle-progress
          [percent]="80"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [subtitle]="'Angular'"
          [subtitleFontSize]="'18'"
          [subtitleColor]="'#1C60DE'"
          [outerStrokeColor]="'#444644'"
          [innerStrokeColor]="'#56fd2d'"
          [animation]="true"
          [animationDuration]="400">

          </circle-progress>
          <circle-progress
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [subtitle]="'Java'"
            [subtitleFontSize]="'18'"
            [subtitleColor]="'#1C60DE'"
            [outerStrokeColor]="'#444644'"
            [innerStrokeColor]="'#fb6250'"
            [animation]="true"
            [animationDuration]="400">

          </circle-progress>

      </div>


</div>


